.card {
  padding: 0;
  width: 18rem;
  margin-top: 4rem;
  margin-left: 4em;
}

.col.card {
  margin-left: 0;
}

.logout_btn{
  color: black;
  background-color: cadetblue;
  width: 100px;
}

.logout_btn:hover{
  color: black;
  background-color: orangered;
}
