<div class="row">
  <form class="dropdown-item-text">
    <div class="form-group">
      <label for="login_popup">Login</label>
      <input name="login" [(ngModel)]="login" class="form-control" id="login_popup">
    </div>
    <div class="form-group">
      <label for="password_popup">Password</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password_popup">
    </div>
    <button type="submit" class="btn btn-primary" (click)="doLogin()">Submit</button> or <button type="submit" class="btn btn-success" routerLink="/register">Register</button>
  </form>
</div>
