<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <div class="row w-100 align-content-center">
        <div class="col-5">
          <div class="row nav-justified">
            <div class="col">
              <ul class="navbar-nav nav-tabs">
                <li class="nav-item col-4">
                  <a class="nav-link" routerLink="/"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="nav-item col-4">
                  <a class="nav-link">Shop</a>
                </li>
                <li class="nav-item col-4">
                  <a class="nav-link">About Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-100"></div>
        </div>
        <div class="col-2 h-auto">
          <a class="navbar-brand" style="margin-left: 25%">Music Shop</a>
<!--          <img class="img-fluid" src="assets/logo.jpg">-->
        </div>
        <div class="col-5">
          <div class="row nav-justified">
            <div class="col">
              <ul class="navbar-nav nav-tabs">
                <li class="nav-item col">
                  <a class="nav-link" routerLink="/login"><i class="bi bi-person" ></i> Customer Center</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link"><i class="bi bi-telephone"></i> Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-100"></div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <img class="img-fluid" src="assets/panoramic-logo.jpeg">
</div>

