<h1>{{product.price}} $</h1>
<h3 *ngIf="product.inStock === 0" class="alert-danger">Product is unavailable!</h3>
<h3 *ngIf="product.inStock > 0" class="alert-success">Product is available.</h3>
<div *ngIf="product.inStock > 0" class="btn-group">
  <button class="btn btn-outline-info border-dark">Add to cart</button>
  <button class="btn btn-outline-success border-dark">Buy now!</button>
</div>
<h4 class="m-4">Share this product with your friends!</h4>
<div class="row justify-content-center">
  <i class="bi-facebook" style="font-size: 4rem"></i>
  <i class="bi-twitter" style="font-size: 4rem"></i>
  <i class="bi-instagram" style="font-size: 4rem"></i>
</div>
