<div class="container">
  <div class="d-flex justify-content-center m-4 h-auto">
    <div class="card">
      <div class="card-header">
        <h3>Register</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onRegister(f)" #f="ngForm">
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="E-mail"
              ngModel>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="login"
              name="login"
              placeholder="Login"
              ngModel>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              ngModel>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="rpassword"
              name="rpassword"
              placeholder="Repeat password"
              ngModel>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>

