<div class="container">
  <div class="d-flex justify-content-center m-4 h-auto">
    <div class="card">
      <div class="card-header">
        <h3>Create an account</h3>
      </div>
      <div class="card-body h-auto">
        <form (ngSubmit)="onRegister()" #f="ngForm"><span class="help-block" style="color: red"
                                                          *ngIf="!email.valid && email.touched">Invalid email format</span>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>

            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="E-mail"
              ngModel
              required
              email
              #email="ngModel">
          </div>
          <span class="help-block" style="color: red"
                *ngIf="!login.valid && login.touched">Cant be empty</span>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="login"
              name="login"
              placeholder="Login"
              ngModel
              required
              #login="ngModel">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              ngModel>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="bi bi-hexagon"></i></span></div>
            <input
              class="form-control"
              id="rpassword"
              name="rpassword"
              placeholder="Repeat password"
              ngModel>
          </div>
          <div *ngIf="!isProcessing; else spinner" class="form-group">
            <button [disabled]="!f.valid" type="submit" class="btn pt-1 pb-1 login_btn">Register
            </button>
          </div>
          <ng-template #spinner>
            <div class="spinner-border text-info pt-1 pb-1" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </form>
      </div>
      <div class="card-footer h-auto"></div>
    </div>
  </div>
</div>

